<div class="container mt-5 p-5">
  <h3 class="text-primary">Payment Details</h3>
  <div class="row">
    <div class="form-group col-6">
      <label>Receiver Name</label>
      <input type="text" (input)="getName($any($event.target).value)" class="form-control">     
    </div> 
    <div class="col-6" *ngIf="name">
      <label><b>Name</b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
     
  </div>

  <div class="row mt-2">
    <div class="form-group col-6">
      <label>Payment Date</label>
      <input type="date" (input)="getDate($any($event.target).value)" class="form-control">     
    </div> 
    <div class="col-6" *ngIf="date">
      <label><b>Payment Date</b></label>
      <div>
        {{date | date:'MMMM d,y'}}
      </div>
    </div>
     
  </div>

  <div class="row mt-2">
    <div class="form-group col-6">
      <label>Payment Amount</label>
      <input type="number" (input)="getAmount($any($event.target).value)" class="form-control">     
    </div> 
    <div class="col-6" *ngIf="amount">
      <label><b>Payment Amount</b></label>
      <div>
        {{amount | currency:'BDT '}}
      </div>
    </div>  
  </div>

  <div class="row mt-2">
    <div class="form-group col-6">
      <label>Kilometers</label>
      <input  (input)="getKilo($any($event.target).value)" class="form-control">     
    </div> 
    <div class="col-6" *ngIf="kilo">
      <label><b>Miles</b></label>
      <div>
        {{ kilo | convert:'cm' }}
      </div>
    </div>   
  </div>

</div>